<?xml version="1.0" ?>
<model>
  <name>building_0003_assumed_a_apeadeiro_em_caminho_de_ferro</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>cartografia terrain pipeline</name>
  </author>
  <description>Generated construction model from A_Apeadeiro_em_caminho_de_ferro.</description>
</model>
