<?xml version="1.0" ?>
<model>
  <name>building_0005_assumed_a_cais_de_acesso_ferroviario</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>cartografia terrain pipeline</name>
  </author>
  <description>Generated construction model from A_Cais_de_acesso_ferroviario.</description>
</model>
