<?xml version="1.0" ?>
<model>
  <name>building_0010_assumed_a_campo_de_jogos</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>cartografia terrain pipeline</name>
  </author>
  <description>Generated construction model from A_Campo_de_jogos.</description>
</model>
