<?xml version="1.0" ?>
<model>
  <name>building_6671_assumed_a_cruz_vermelha_portuguesa</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>cartografia terrain pipeline</name>
  </author>
  <description>Generated construction model from A_Cruz_vermelha_portuguesa.</description>
</model>
